@font-face {
    font-family: Amiri;
    font-style: normal;
    font-weight: 400;
    src: local(Amiri), url("../../assets/fonts/amiri/Amiri-Regular.ttf");
}

@font-face {
    font-family: Amiri;
    font-style: normal;
    font-weight: 700;
    src: local(Amiri Bold), url("../../assets/fonts/amiri/Amiri-Bold.ttf");
}

@font-face {
    font-family: Amiri;
    font-style: italic;
    font-weight: 400;
    src: local(Amiri Slanted), url("../../assets/fonts/amiri/Amiri-Slanted.ttf");
}

@font-face {
    font-family: Amiri;
    font-style: italic;
    font-weight: 700;
    src: local(Amiri Bold Slanted), url("../../assets/fonts/amiri/Amiri-BoldSlanted.ttf");
}
