$dark-blue: #354259;
$dark-beige: #cdc2ae;
$light-beige: #ece5c7;
$light-green: #c2ded1;
$green-dark: #256d85;
$gray-dark: #2b4865;

$colors: (
    "dark-blue": $dark-blue,
    "dark-beige": $dark-beige,
    "light-beige": $light-beige,
    "light-green": $light-green,
    "green-dark": $green-dark,
    "gray-dark": $gray-dark,
);
